<% include ../partials/header %>
  <div class="row">
    <div class="col-md-4">
      <h1><%= user.firstName + " " + user.lastName %></h1>
      <div class="thumbnail">
        <img src="<%= user.avatar %>" alt="user profile image">
        <div class="caption">
          <a href="mailto:<%= user.email %>"><%= user.email %></a>
          <% if(currentUser && user._id.equals(currentUser._id)) { %>
          <a class="btn btn-xs btn-warning pull-right" href="/users/<%= user.id %>/edit">
            Edit
          </a>
          <% } %>
        </div>
      </div>
      Lacarnum sonorus lacarnum serpensortia morsmordre. Momentum evanesca lacarnum nox. Lumos inflamarae stupefy mobilicorpus
      exume leviosa imperio obliviate jelly-legs charm imperio.
      Rictusempra anapneo rictusempra concealment relashio leviosa totalus funnunculus engorgio lumos. Sonorus immobilus
      mortis inflamarae avada impedimenta aresto reparo immobilus. Vipera impedimenta dissendium impedimenta locomotor
      ennervate funnunculus aparecium aparecium muffliato protean.
    </div>
    <div class="col-md-8">
      <h3><%= user.username %>'s campgrounds:</h3>
      <ul>
        <% campgrounds.forEach(function(campground) { %>
        <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
        <% }); %>
      </ul>
    </div>
  </div>
<% include ../partials/footer %>